/*--Media Queries for small laptops and big tablets--*/
@media screen and (max-width:1200px){
    .container{
        width:98%;
    }
    main .container {
        grid-template-columns:5rem auto ;
        gap:1rem;
    }
    .left{
        width:5rem;
        z-index:5;
    }
    main .container .left .profile {
        display:none;
    }
    .sidebar h3{
        display:none;
    }

    .left.btn {
        display:none;
    }
    .customize-theme .card{
        width:100%;
       
    }
  .customize-theme .background .choose-bg >div{
         width:70px;

  }
  .customize-theme .choose-bg >div span{
    display: none;;
  }
  .customize-theme .background .choose-bg {
    display:flex;
    justify-content: space-between;
  }
    main  .right {
        display: none;
    }
}

/*----Media queries for small tablets and mobile phones ---*/

@media screen and(max-width:992px){
    nav .search-bar{
        display: none;
    }
    main .container{
        grid-template-columns: 0 auto ;

    }
    main .container .left {
        grid-column: 3/4; /* means pushing left side to the 3/4 of page that is right*/  
        position: fixed;
        bottom:0;
        right:0;
    }

    /*----Notification Popup---*/
   
    .left .notification-popup{
        position: absolute;
        left: -20rem;
        width:20rem;

    }
    .left .notification-popup::before {
        display:absolute;
        top:1.3rem;
        left:calc(20rem - 0.6rem);
        display:block;
    }
    main .container .left .sidebar > div h3{
        display: none;
    }
    main .container .middle{
        grid-column: 1/3;
    }
    main  .right {
        display: none;
    }

    .customize-theme .card{
        width:92vw;
        
    }
}